// @font-face{
//   font-family: "PTSansNarrow-Bold";
//   src: url('../static/font/PTSansNarrow-Bold.ttf') format('truetype');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face{
//   font-family: "PTSansNarrow-Reg";
//   src: url('../static/font/PTSansNarrow-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal
// }

// @font-face{
//   font-family: "AmaticSC-Bold";
//   src: url('../static/font/AmaticSC-Bold.ttf') format('truetype');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face{
//   font-family: "AmaticSC-Reg";
//   src: url('../static/font/AmaticSC-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal
// }

@font-face{
  font-family: "Monsterrat-Reg";
  src: url('../static/font/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}